<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav>
        <div class="main-nav container flex">
            <a href="#"><img class="nav-logo" src="./NEWS LOGO.svg"> </a>
            <div class="nav-links">
                <ul class="flex">
                    <li class="hover-links">IPL</li>
                    <li class="hover-links">Finance</li>
                    <li class="hover-links">Politics</li>
                </ul>
            </div>
            <div class="nav-search flex">
                <form action="/search" method="POST">
                    <input class="nav-search-input" type="text" placeholder="e.g. Science" name="newsinput">
                    <button class="nav-search-btn" >Search</button>
                </form>
            </div>
        </div>
    </nav>

    <main>
        <div class="container main-card flex" id="cards-container">
            <% if(locals.articles) {%>
                <% articles.forEach(article => { %>
                    <% if(article.urlToImage && article.source.id) {%>
                        <div class="card flex">
                            <div class="card-header">
                                <img id="news-img" src= <%= article.urlToImage %>>
                            </div>
                            <div class="card-content flex">
                                <h3 id="news-title"><%= article.title %></h3>
                                <h6 id="news-source"><%= article.source.id %>, <%= article.publishedAt.slice(0,10)%></h6>
                                <p class="news-description" id="news-description"><%= article.description %></p>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } %>
        </div>
    </main>
</body>
</html>